A database is a structured collection of data that is organised and stored in a way that allows for efficent retrieval and manipulation. it serves as a repository for information used by applications.

1.SQL data
* structure:relational database with dynamic schemas.
* data model: tabular format with rows and columns.
* scalability: vertical scaling(adding more servers to the database)
* examples: MySQL,PostgreSQL,Oracle

2. NOSQL Database
* structure: Non-relational database with dynamic schemas.
* data model: various models like document, key-value, wide-column, or graph.
* scalability: horizontal scaling(adding more servers to the database).
* example: MongoDB,Cassandra,Redis

DDL stands for Data Defination Language,and it is a subset of SQL (structured query language) used to define and manage the structure of a database.DDL statements are responsible for defining and managing database objects,such as table and indexes

1. CREATE
* purpose: used to create database object like tables, indexes, or views.
* example : CREATE TABLE employees(id INT,name VARCHAR(255),salary DECIMAL);

2. DROP
* purpose: used to delete existing database objects like tables or indexes.
* example : DROP TABLE employees;

3. ALTER
* purpose: used to modify the structured of an existing database object,such as adding or deleting columns in a table.
* example: ALTER TABLE employees ADD COLUMN age INT;

4. TURNCATE
* purpose: used to remove all rows from a table without removing the table structure
* example: TRUNCATE TABLE employees;

DML stands for data manipulation language,which is subset of SQL(structured query language) usesd for managining data in realational database.
DML consists of three main operation INSERT,UPDATE, DELETE

1. INSERT

In [4]:
INSERTINTO employees(id,name,salary)
VALUES(1,'john Doe',50000);

SyntaxError: invalid syntax (773431056.py, line 1)

2. UPDATE

In [6]:
UPDATE employees SET salary = 55000 WHERE id = 1;

SyntaxError: invalid syntax (2265468552.py, line 1)

3. DELETE

In [7]:
DELETE FROM employees WHERE id = 1;

SyntaxError: invalid syntax (1860902449.py, line 1)

DQL s.nds for Data Query Language,and it is a subset of SQL(structured query language) specifically designed for quering data from a relational database.The primary DQL statement is SELECT,which is used to retrive information from one or more tables.

SELECT is used to specify the columns you want to retrive and condtions that must be met for the rows to be included in the result set.

In [8]:
SELECT name, salary FROM employees WHERE department = 'IT';

SyntaxError: invalid syntax (2288766680.py, line 1)

* Primary Key:A primary key is a unique identifier for each record (row) in a database table.it ensures that each record can be distinctly identified and that there are no duplicate value in the primary key column

In [9]:
CREATE TABLE students(student_id INT PRIMARY KEY,
                      name VARCHAR(50),
                      age INT);

SyntaxError: invalid syntax (604702522.py, line 1)

* foreign key: A foreign is a column or a set of column in a table that refers to the primary key of another table. it establishes a link between the two tables, creating a relationship.

In [10]:
CREATE TABLE course(
    course_id INT PRIMARY KEY,
    course_name VARCHAR(50)
);

CREATE TABLE student_courses(
    student_id INT,
    student_id INT,
    FOREIGN KEY (student_id)
    REFERENCES students(student_id),
    FOREIGN KEY (course_id)
    REFERENCES courses(course_id)
);

SyntaxError: invalid syntax (4097094142.py, line 1)

In [11]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp310-cp310-manylinux_2_17_x86_64.whl (31.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.6/31.6 MB 42.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.2.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
import mysql.connector

# Replace the placeholder with your MySQL server details
db_config = {
    'host': 'your_mysql_host',
    'user': 'your_username',
    'password': 'your_password',
    'database':
'your_database_name'
}

In [17]:
# Establish a connection to the MySQL server
connection =
mysql.connector.connect(**db_config)

create a cursor object to interact with the database
cursor = connection.cursor()
# Example: Execute a simple query
query = "SELECT *FROM
your_table_name"
cursor.execute(query)

# Fetch all the results
results = cursor.fetchall()

# Display the results
for row in results:
    print(row)
    
# Close the cursor and connection
cursor.close()
connection.close()

SyntaxError: unterminated string literal (detected at line 8) (3156505239.py, line 8)

* CURSOR: A cursor is an object that enables you to interact with database by sending SQL queries and recieving results.it acts as a pointeror a handle to the result set of a query.In the code above ,cursor is created using
connection.cursor()

* Execute Method: The exceute method is used to execute SQL queries or commands through the cursor.
 cursor.execute(query)

The order of execution of SQL in an SQL query genrally follows this sequence:

1. FROM: specifies the table or tables from which to retrieve data.

2. WHERE: Filters the rows based on specified condtions

In [ ]:
3.